  
  body {
    background-color: #f7f6f6;
    height: 100vh;
    justify-content: center;
    text-align: center;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
  }
  
  .first-line, .second-line {
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  
  .green, .red, .yellow, .blue{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    cursor: pointer;
    border : 5px solid black;
  }

  .green {
    background-color: #28a745;
  }
  
  .red {
    background-color: #dc3545; 
  }
  
  .yellow {
    background-color: #ffc107; 
  }
  
  .blue {
    background-color: #007bff; 
  }
  
  .flash{
    background-color: rgb(241, 243, 246);
  }
 
  #start-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
}
